body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

/* color : #5f934 */

#input-el {
    display: flex;
    border: 2px solid #5f9348;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #5f9348;
    color: whitesmoke;
    border: 2px solid #5f9348;
     padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-left: 9px;
    margin-top: 5px;
}

ul {
  list-style: none;
    padding-left: 0;
}

li {
margin-top: 5px;
}

li a {
color: #5f9348;
}


#delete-btn {
    background-color: whitesmoke;
    color: #5f9348;
    border: 2px solid #5f9348;
     padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-left: 9px;
    margin-top: 5px;
}
